<h3>{{ title }}</h3>


<div *ngIf="addMessage" class="alert alert-success"> {{addMessage}} </div>

<div class="d-flex flex-row flex-wrap">
    <div class="card mb-2" style="width: 18rem;" *ngFor="let item of shop">
        <img  class="card-img-top" [src]="item.imageUrl">
        <div class="card-body">
            <h5 class="card-title"> {{ item.name | uppercase }}  ${{item.price}} </h5>
            <p class="card-text"> {{ item.description }} </p>
            <a (click)="addProduct(item)" class="btn btn-primary">{{ message }}</a>
        </div>
    </div>
</div>